.panel.panel-default
  .panel-heading
    author:
    %b
      = review.author
    , rating:
    %b
      = review.rating
    , date:
    %b
      = review.created_at.strftime("%m/%d/%y")
  .panel-body
    = review.content
    %br
    %br
